debug_bm1366: false
verify_solo: true
miner: piaxe

piaxe:
  name: PiAxe
  chips: 1
  asic_frequency: 485
  sdn_pin: 11
  pgood_pin: 13
  nrst_pin: 15
  led_pin: 19
  pwm_hz: 1000
  pwm_duty_cycle: 80
  lm75_address: 0x48
  extranonce2_interval: 1.5
  serial_port: "/dev/ttyS0"

bitcrane:
  name: BitCrane
  chips: 1000
  asic_frequency: 300
  extranonce2_interval: 1.5
  fan_speed: 0.25

qaxe:
  name: Qaxe
  chips: 4
  fan_speed_1: 1.0
  fan_speed_2: 1.0
  asic_frequency: 485
  extranonce2_interval: 1.9
  serial_port_asic: "/dev/ttyACM1"
  serial_port_ctrl: "/dev/ttyACM2"

alerter:
  enabled: false
  type: discord-webhook
  # file: load from file
  url: file://webhook.url
  name: Piaxe1
  retrigger_time: 3600


influx:
  enabled: true
  host: localhost
  port: 8086
  token: f37fh783hf8hq
  org: piaxe
  bucket: piaxe
  timezone: Europe/Berlin
